@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 214, 219, 220;
    --background-end-rgb: 255, 255, 255;
    --swiper-navigation-color: #ff8a00;
    --swiper-pagination-color: #206f1e;
    --swiper-navigation-top-offset: 47%;
}

@media (prefers-color-scheme: dark) {
    :root {
        --foreground-rgb: 255, 255, 255;
        --background-start-rgb: 0, 0, 0;
        --background-end-rgb: 0, 0, 0;
    }
}

/* body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */

.MySwiper .swiper-button-next,
.MySwiper .swiper-button-prev {
    top: 50%;
}

@layer utilities {
    .text-balance {
        text-wrap: balance;
    }
}

.my-icon {
    width: 0px;
	height: 0px;
	border-top: solid 30px #206F1E;
	border-right: solid 20px transparent;
	border-bottom: solid 0px transparent;
	border-left: solid 20px transparent;
	border-radius: 100%;
}
